{
  "name": "{{ config.report.title }}",
  "short_name": "Year Review",
  "description": "{{ site_description }}",
  "start_url": "./{{ year }}/",
  "display": "standalone",
  "background_color": "#ffffff",
  "theme_color": "{{ theme_color }}",
  "icons": [
    {
      "src": "favicon-32x32.png",
      "sizes": "32x32",
      "type": "image/png"
    }
  ]
}
